<!DOCTYPE html>
<html>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="438877838451-cf5c3b09tr68e353rkpl3331ujr2t3nf.apps.googleusercontent.com.apps.googleusercontent.com">
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
   <div class="g-signin2" data-onsuccess="onSignIn"></div>


<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

</body>
</html>


